{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block content %} 
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3 class="text-center"> Logged out</h3>
                <p>Thanks for spending some quality time with the Web site today.
                </p>
                <p><a href="{% url 'login' %}">Log in again</a></p>
                
            </div>
        </div>
    </div>
   

{%endblock%}