{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block content %} 
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center">Password reset</h2>
                <p class="text-center">
                    Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.
                </p>    
                <form action="" method="POST">
                    {% csrf_token%}
                    {{form | crispy }}
                
                    <button type="submit" class="btn btn-outline-success btn-rounded" data-mdb-ripple-color="dark">Reset my password</button>
                </form>
            </div>
        </div>
    </div>
    <style>
        .card {
            margin: 0 auto; /* Added */
            float: none; /* Added */
            margin-bottom: 10px; /* Added */
            margin-top: 20px;
            background-color: white;
            border-radius: 25px;
        }
        body {
            text-align: center;
           
            background-color: rgba(148, 187, 233, 10);
            background-size: cover;
        }
        form {
            display: inline-block;
            
        }
        .btn{
            margin-top: 20px;
        }


    </style>
    
{%endblock%}