{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block content %} 
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center" >Password reset sent</h2>
                <p class="text-center" >
                    We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                </p>


                <p class="text-center" >
                    If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.

                </p>
            </div>
        </div>
    </div>
    <style>
         body {
            text-align: center;
           
            background-color: rgba(148, 187, 233, 10);
            background-size: cover;
        }
        .card {
            margin: 0 auto; /* Added */
            float: none; /* Added */
            margin-bottom: 10px; /* Added */
            margin-top: 20px;
            background-color: white;
            border-radius: 25px;
        }
    </style>
    
{% endblock %}